<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<h4>Welcome to VEDAVAAG Fund Management Portal, <%= @user.name %></h4>

<p>
  You have successfully signed up to Vedavaag Fund Management Portal, <br/>
  ========================================================================= <br/>
  Your username is: <%= @user.login %>.<br/>
  You password is: <%= @user.login %>  <br>
  ========================================================================= <br/>

  You can change the password after login into portal using the link "Profile" <br/>
</p>
<p>
  To login to the site, just follow this link: <a href="http://vedavaag.com:4545">here</a>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>