<div class="form-container">
  <p class="legend">
    <strong>Note:</strong>
    Required fields are marked with an asterisk (<em>*</em>)
  </p>
  <%= simple_form_for(@project, :validate => true) do |f| %>
      <fieldset>
        <%= f.input :name,:placeholder=>"Enter Project Name" %>
        <%= f.input :description %>
        <%= f.submit 'Save', :disable_with=>'Please wait...' %>
      </fieldset>
  <% end %>
</div>