<% title "VEDAVAAG | Requests " %>
<% content_for :sub_heading do %>
    <%= sub_heading('VEDAVAAG | Requests','Update Request') %>
<% end %>
<div class="help_text">
  Area for Update Requests
</div>
<%= render 'edit_form' %>
<div class="link_buttons">
  <%=link_to_all(transactions_path)%>
</div>