<% title "VEDAVAAG | Requests " %>
<% content_for :sub_heading do %>
    <%= sub_heading('VEDAVAAG | Requests','Create Request') %>
<% end %>
<div class="help_text">
  Area for creating Requests. <br/>
  You can attache Excel sheet or Word file
</div>
<%= render 'form' %>
<div class="link_buttons">
  <%=link_to_all(transactions_path)%>
</div>