<div class="copyright_text">
    <div>
      © <%= Time.now.strftime('%Y') %>
  <a href="http://vedavaag.com" target="_blank">Vedavaag Systems Limited</a>. This is site is optimized to Mozilla Firefox, Google Chrome and IE8+ Versions.
    </div>
</div>