<h4>Please Select the CSV File to import Accounts</h4>
<%= form_tag csv_import_accounts_path, :multipart => true do -%>
    <table class="tablesorter1" align="center">
      <tr>
        <td>
          <label for="vle_user">
            Select a CSV File :
          </label>
        </td>
        <td>
          <%= file_field_tag :file, :id => "filename" -%>
          <script type="text/javascript">
              var filename = new LiveValidation('filename', {
                  onlyOnSubmit:true
              });
              filename.add(Validate.Presence)
          </script>
        </td>
      </tr>
      <tr>
        <td colspan='2' align="right">
          <%= submit_tag 'Submit', :disable_with => 'Please wait...' -%>
        </td>
      </tr>
    </table>
<% end -%>
<style type="text/css">
    table.tablesorter1 {
        border-collapse: collapse;
        border: 1px solid #CDCDCD;
        text-align: center;
    }

    table.tablesorter1 td, table.tablesorter1 th {
        border-collapse: collapse;
        border: 1px solid #CDCDCD;
    }

</style>